<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cineplexapp">


    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="24" />

    <application
        android:allowBackup="true"
        android:label="Cineplex App"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".BackgroundMusicService"
            android:exported="false" />

    </application>

</manifest>
